<div style="margin-top: 40px;"></div>

<div class="footer">
  <div class="fill">
    <div class="container">
      <div class="row">
        <div class="span4">
          <h5>Source Code</h5>
          <ul class="unstyled">
            <li><a href="https://github.com/aaronpk/webmention.io">github.com/aaronpk/webmention.io</a></li>
          </ul>
        </div>
        <div class="span4">
          <h5>Built by</h5>
          <ul class="unstyled">
            <li><a href="http://aaronparecki.com">aaronpk</a></li>
          </ul>
        </div>
        <div class="span4">
          <h5>Further Reading</h5>
          <ul class="unstyled">
            <li><a href="http://indiewebcamp.com/webmention">indiewebcamp.com/webmention</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
