<div style="margin-top: 40px;"></div>

<div class="footer">
  <div class="container">
    <div class="item">Source: <a href="https://github.com/aaronpk/webmention.io">github.com/aaronpk/webmention.io</a></div>
    <div class="item">Made by <a href="http://aaronparecki.com">aaronpk</a></div>
    <div class="item">Read more: <a href="http://indiewebcamp.com/webmention">indiewebcamp.com/webmention</a></div>
  </div>
</div>
