<div style="min-height: 300px;">
</div>

<div class="footer">
  <div class="fill">
    <div class="container">
      <div class="row">
        <div class="span4">
          <h5>Source Code</h5>
          <ul class="unstyled">
            <li><a href="https://github.com/aaronpk/Pingback">github.com/aaronpk/Pingback</a></li>
          </ul>
        </div>
        <div class="span4">
          <h5>Built by</h5>
          <ul class="unstyled">
            <li><a href="https://twitter.com/aaronpk">@aaronpk</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
