<div class="header">
  <ul class="topbar right">
    <li><a href="/logout">Sign Out</a></li>
    <li><%= @user.domain %></li>
  </ul>
  <ul class="topbar">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/settings/webhooks">Web Hooks</a></li>
    <li><a href="/settings">Settings</a></li>
  </ul>
  <div style="clear:both;"></div>
</div>
