development:
  database_url: "mysql://webmention:webmention@127.0.0.1/webmention"
  session_secret: SUPERSECRET
  ga_id: 
  base_url: "https://webmention.io"
  redis:
    host: 127.0.0.1
    port: 6379
