<div class="container">

<div class="row" style="margin-top: 40px;">
  <div class="span12">

    <p>This is a hosted pingback service.</p>

    <p>To set up your own, check out <a href="http://pingback.me/">pingback.me</a></p>

  </div>
</div><!-- row -->

</div><!-- container -->