<div class="container-narrow">
  <%= partial :'partials/_topbar' %>
  <div class="page">

  <section>
    <h2>Recent Webmentions</h2>

    <table class="recent-webmentions">
      <% @recent.each do |link| %>
        <%= partial :'partials/_webmention_row', {:locals => {:link => link}} %>
      <% end %>
    </table>

    <% if @recent.length == 0 %>
      <p>There are no Webmentions yet! Add the tags above to your site and wait for someone to send you a Webmention!</p>
    <% end %>

    <h3>Delete Webmention</h3>

    <p>Paste the source URL for a webmention you want to delete. You'll be able to delete any webmentions from that URL or block the domain in the next step.</p>

    <form action="/delete" method="get">
      <input type="url" name="source" placeholder="source url">
      <button type="submit">Preview Delete</button>
    </form>
  </section>

</div>

</div><!-- container -->
