<div class="container-narrow">
<%= partial :'partials/_topbar' %>
<div class="page">

    <p>Congrats, you've signed in. Now you can use the following tags to accept webmentions for this account.</p>

    <p><pre><code>&lt;link rel="pingback" href="https://webmention.io/<%= @user.username %>/xmlrpc" /&gt;
&lt;link rel="webmention" href="https://webmention.io/<%= @user.username %>/webmention" /&gt;</code></pre>

    <p>You can use this account on any number of websites. The webmentions can be queried per website <a href="https://github.com/aaronpk/webmention.io#api">using the API</a>.</p>



</div>

</div><!-- container -->
