<div class="container">

<div class="row" style="margin: 40px auto 0 auto; max-width: 600px;">

  <form action="/<%= @username %>/webmention" method="post">
    <label for="source">Source URL:</label>
    <input type="url" name="source" id="source" placeholder="The page sending this webmention (probably yours)" style="margin-bottom: 14px; width: 90%; display: block;">
    <label for="target">Target URL:</label>
    <input type="url" name="target" id="target" placeholder="The page that should receive this webmention" style="margin-bottom: 14px; width: 90%; display: block;">
    <div style="margin-top: 16px;">
      <input type="submit" class="button" value="Send Webmention">
    </div>
  </form>


  <p>Webmention is a simple way to notify any URL when you link to it on your site.</p>

  <p>This is the webmention endpoint for <strong><%= @username %></strong>.</p>

  <p><a href="https://webmention.net/">Learn more about Webmention</a></p>

</div><!-- row -->

</div><!-- container -->
