
<div class="container-narrow">

  <br /><br />

  <div class="hero-unit">
    <img src="/img/webmention-logo-380.png" width="200px" class="pull-left" style="background-color: #eee; margin-right: 30px;" />

    <h1>Webmention.io</h1>
    <p>
      Webmention.io is a hosted service created to easily handle webmentions (and legacy pingbacks) on any web page. Currently it is not open for signups, but you can <a href="https://github.com/aaronpk/webmention.io">download the source code</a> and run it on your own server.
    </p>
    <p>
      You might also be interested in reading about this project on the <a href="http://indiewebcamp.com/webmention.io">IndieWebCamp wiki</a>.
    </p>

      <!-- <a class="btn btn-primary btn-large" href="/auth/github">
        Log in with Github
      </a> -->
  </div>

  <div style="background-color: #fff; padding: 10px 20px;">
    <h2 id="use-it">Use it on your site</h2>

    <p>Once you have a username, add the following tags to your HTML:</p>

    <p><pre><code>    &lt;link rel="pingback" href="http://webmention.io/username/xmlrpc" /&gt;
    &lt;link rel="http://webmention.org/" href="http://webmention.io/username/webmention" /&gt;
</code></pre></p>

    <p>The system will begin collecting webmentions and pingbacks on your behalf.</p>
  </div>



  <div style="background-color: #fff; padding: 10px 20px; margin-top: 20px;">
    <h2 id="forwarding">Forward pingbacks to webmentions</h2>

    <p>If you want to accept pingbacks but don't want to deal with the hassle of XMLRPC, you can use this service to forward pingbacks as webmentions to your server. You don't need an account for this to work.</p>

    <p><pre><code>&lt;link rel="pingback" href="http://webmention.io/webmention?forward=http://example.com/endpoint" /&gt;</code></pre></p>

    <p>For further details and an example, please refer to the <a href="https://github.com/aaronpk/webmention.io#pingback-to-webmention-service">README</a>.</p>
  </div>



  <div style="background-color: #fff; padding: 10px 20px; margin-top: 20px;">
    <h2 id="display-mention-counter">Display a mention counter</h2>

    <p>You can use the API from Javascript to display a mention count of one or more URLs</p>

    <p><b>Getting the data manually</b></p>

    <p>To retrieve the data manually using jQuery, you can make a request like the following. Be sure to add a parameter for your access token if your account is set to disable public access to the data.</p>

    <p><pre><code>$(function(){
  $.getJSON("http://webmention.io/api/count?jsonp=?", {
    target: "http://example.com/page/100"
  }, function(data){
    console.log(data.count);
  });
});
</code></pre></p>

    <p><b>Displaying counts automatically</b></p>

    <p>You can include some simple markup and a Javascript file to automatically display the mention counter for one or more URLs on a page.</p>

    <p>First, choose an element that will be used to display the counter. Add the an attribute <code>data-webmention-count</code> to it, as well as <code>data-url=""</code> with the full URL of the page you would like to count. This might look something like the following:</p>

    <p><pre><code>&lt;span data-indieweb-comment-count data-url="http://example.com/page/100"&gt;&lt;/span&gt; mentions</code></pre></p>

    <p>Then, add the following script tag to your page after you've included jQuery:</p>

    <p><pre><code>&lt;script type="text/javascript" src="http://webmention.io/js/mentions.js"&gt;&lt;/script&gt;</code></pre></p>

    <p>

  </div>


  <div style="background-color: #fff; padding: 10px 20px; margin-top: 20px;">
    <h2 id="show-all-mentions">Show all mentions</h2>

    <p>You can also use the API to show all mentions of a URL. This will work with jQuery or you can use the API directly from a server.</p>

    <p><pre><code>$(function(){
  $.getJSON("http://webmention.io/api/mentions?jsonp=?", {
    target: "http://example.com/page/100"
  }, function(data){
    console.log(data);
  });
});</code></pre></p>

    <p>Which will return data in this format:</p>

    <p><pre><code>{
  "links": [
    {
      "source": "http://tantek.com/2013/113/b1/first-federated-indieweb-comment-thread",
      "verified": true,
      "verified_date": "2013-04-25T17:09:33-07:00"
    }
  ]
}</code></pre></p>
  </div>



  <div style="background-color: #fff; padding: 10px 20px;">
    <h2 id="more">More Information</h2>

    <p>You can read more information in <a href="https://github.com/aaronpk/webmention.io">the project's README</a> file.</p>
  </div>


</div><!-- container -->

