
<div class="container">

  <br /><br />

  <div class="hero-unit">
    <img src="/img/PingbackLogo512.png" width="200px" class="pull-left" style="background-color: #eee" />

    <h1>Pingback.me</h1>
    <p>
      Pingback.me is a hosted pingback service created to easily support pingbacks on any web page. Currently it is not open for signups, but you can <a href="https://github.com/aaronpk/Pingback">download the source code</a> and run it on your own server.
    </p>
    <p>
      You might also be interested in reading about this project on the <a href="http://indiewebcamp.com/pingback.me">IndieWebCamp wiki</a>.
    </p>
      <!-- <a class="btn btn-primary btn-large" href="/auth/github">
        Log in with Github
      </a> -->
  </div>

</div><!-- container -->

