
<div class="container">

  <br /><br />

  <div class="hero-unit">
    <h1>Pingback</h1>
    <p>Ping all the things!</p>
    <p>
      <!-- <a class="btn btn-primary btn-large" href="/auth/github">
        Log in with Github
      </a> -->
    </p>
  </div>


</div><!-- container -->

