
<div class="container">

  <br /><br />

  <div class="hero-unit">
    <img src="/img/webmention-logo-380.png" width="200px" class="pull-left" style="background-color: #eee; margin-right: 30px;" />

    <h1>Webmention.io</h1>
    <p>
      Webmention.io is a hosted service created to easily handle webmentions (and legacy pingbacks) on any web page. Currently it is not open for signups, but you can <a href="https://github.com/aaronpk/webmention.io">download the source code</a> and run it on your own server.
    </p>
    <p>
      You might also be interested in reading about this project on the <a href="http://indiewebcamp.com/webmention.io">IndieWebCamp wiki</a>.
    </p>

      <!-- <a class="btn btn-primary btn-large" href="/auth/github">
        Log in with Github
      </a> -->
  </div>

</div><!-- container -->

