<div class="container">

  <div class="hero-unit">
    <h1>Error!</h1>
    <p>You must be signed in to view this notification</p>

    <a class="btn btn-primary btn-large" href="/auth/indieauth">Sign in with your domain</a>
  </div>

</div><!-- container -->

